.center {
	align-content: center;
	text-align: center;
}
h1, h2, h3 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p, span {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #422a37;
}

#wrong_ans {
	display: block;
	position: fixed;
	top: 10px;
	text-align: center;
	left: 30%;
	font-size: 30px;
}

button {
	padding: 5px 50px 5px 50px;
}